
.icon-tabletennis:before { content: '\e800'; } /* '' */
.icon-tennis:before { content: '\e801'; } /* '' */
.icon-ski:before { content: '\e802'; } /* '' */
.icon-basketball:before { content: '\e803'; } /* '' */